.container-home {
  display: flex;
  flex-direction: column;
  gap: 82px;
  padding-top: 82px;
}

.button {
  margin: 0px;
  background-color: #cdbad8;
  border: none;
  height: 28px;
  border-radius: 8px;
  padding: 6px;
  color: rgb(45, 45, 45);
  font-weight: 700;
  cursor: pointer;
}