header {
  display: flex;
  justify-content: center;
  padding: 12px;
}

h1 {
  font-family: "Open_Sans variant0", Tofu;
  font-weight: 300;
  color: #556d9e;
  font-size: 48px;
  line-height: normal;
  font-style: normal;
}
